version: "3.9"

services:
  timescaledb:
    image: timescaledb-benchmark:with-data
    container_name: timescaledb-benchmark
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "${TIMESCALEDB_USER}"
      POSTGRES_PASSWORD: "${TIMESCALEDB_PASSWORD}"
      POSTGRES_DB: "${TIMESCALEDB_DB}"
      TZ: Europe/Vienna
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 3s
      retries: 20