services:
  tsdb-init:
    image: alpine:3.19
    container_name: tsdb-init
    volumes:
      - tsdb_data:/var/lib/postgresql/data
      - /root/images:/backup:ro
    command: >
      sh -c "
      if [ ! -f /var/lib/postgresql/data/PG_VERSION ]; then
        echo 'PG_VERSION not found -> restoring from tar...';
        rm -rf /var/lib/postgresql/data/* /var/lib/postgresql/data/.[!.]* /var/lib/postgresql/data/..?* 2>/dev/null || true;
        tar -xf /backup/tsdb_data.tar -C /var/lib/postgresql/data;
        echo 'Restore done.';
      else
        echo 'PG_VERSION found -> already initialized, skipping.';
      fi
      "
    restart: "no"

  tsdb:
    image: timescaledb-benchmark:with-data
    container_name: tsdb
    depends_on:
      tsdb-init:
        condition: service_completed_successfully
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: telemetry
      TZ: Europe/Vienna
    ports:
      - "5432:5432"
    volumes:
      - tsdb_data:/var/lib/postgresql/data
    restart: unless-stopped
    mem_limit: 16g
    cpus: 4

    command: >
      postgres
      -c shared_buffers=4GB
      -c effective_cache_size=12GB
      -c work_mem=64MB
      -c maintenance_work_mem=1GB

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  tsdb_data:
