services:
  influxdb:
    image: influxdb:2
    container_name: influx-db-benchmark
    ports:
      - "8086:8086"
    volumes:
      - /root/images/influx/influxdb2-data:/var/lib/influxdb2
      - /root/images/influx/influxdb2-config:/etc/influxdb2
    restart: unless-stopped
    mem_limit: 16g
    cpus: 4
    healthcheck:
      test: [ "CMD", "influx", "ping", "--host", "http://localhost:8086" ]
      interval: 5s
      timeout: 3s
      retries: 20
  benchmark:
    image: benchmark-runner:latest
    container_name: benchmark-runner-influx
    depends_on:
      influxdb:
        condition: service_healthy
    environment:
      INFLUXDB_URL: http://influxdb:8086
      INFLUXDB_TOKEN: "${INFLUXDB_TOKEN}"
      INFLUXDB_ORG: "${INFLUXDB_ORG}"
      INFLUXDB_BUCKET: "${INFLUXDB_BUCKET}"
    restart: "no"
    mem_limit: 2g
    cpus: 2
