version: "3.9"

services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb-benchmark
    restart: unless-stopped
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: "setup"
      DOCKER_INFLUXDB_INIT_USERNAME: "${INFLUXDB_USER}"
      DOCKER_INFLUXDB_INIT_PASSWORD: "${INFLUXDB_PASSWORD}"
      DOCKER_INFLUXDB_INIT_ORG: "${INFLUXDB_ORG}"
      DOCKER_INFLUXDB_INIT_BUCKET: "${INFLUXDB_BUCKET}"
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: "${INFLUXDB_TOKEN}"
    healthcheck:
      test: [ "CMD", "influx", "ping", "--host", "http://localhost:8086" ]
      interval: 5s
      timeout: 3s
      retries: 20
